<div id="<%= dom_id classroom %>">
  <p>
    <strong>Grade:</strong>
    <%= classroom.grade %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= classroom.year_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= classroom.school_id %>
  </p>

</div>
