<div id="<%= dom_id classroom %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= classroom.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= classroom.school_year.year.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">School:</strong>
    <%= classroom.school_year.school.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= classroom.grade %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this classroom", classroom, class: "tw-btn-tertiary" %>
    <% if policy(Classroom).destroy? %>
      <%= link_to "Edit this classroom", edit_classroom_path(classroom), class: "tw-btn-tertiary",
        class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <% if policy(Classroom).destroy? %>
      <%= link_to "Delete this classroom", classroom_path(classroom),
                  class: "tw-btn-danger",
                  data: {
                    turbo_method: :delete,
                  } %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
