<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if @errors.present? %>
    <div><%= errors.join(", ") %></div>
  <% end %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes(controller.action_name).each do |title, attributes| -%>
    <fieldset class="<%= "field-unit--nested" if title.present? %>">
      <% if title.present? %>
        <legend><%= t "helpers.label.#{f.object_name}.#{title}", default: title %></legend>
      <% end %>

      <% attributes.each do |attribute| %>
        <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
          <%= render_field attribute, f: f %>

          <% hint_key = "administrate.field_hints.#{page.resource_name}.#{attribute.name}" %>
          <% if I18n.exists?(hint_key) -%>
            <div class="field-unit__hint">
              <%= I18n.t(hint_key) %>
            </div>
          <% end -%>
        </div>
      <% end %>
    </fieldset>
  <% end -%>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
<hr />
<%= form_with url: admin_student_add_transaction_path(page.resource), method: :post do |form| %>
      <% if action_name == 'edit' || action_name == 'update' %>
      <div class="field-unit">
        <div class="field-unit__label"><label>Cash balance</label></div>
        <div class="field-unit__field">
          <%= number_to_currency(page.resource&.portfolio&.cash_balance || 0)%>
        </div>
      </div>
    <% end %>
      <div class="field-unit">
        <div class="field-unit__label"><label>Transaction Type</label></div>
        <div class="field-unit__field">
          <select name="student[transaction_type]" id="student_transaction_type">
            <% ["", "deposit", "debit"].each do |option| %>
              <option><%= option %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="field-unit">
        <div class="field-unit__label"><label>Amount</label></div>
        <div class="field-unit__field">
          <input step="any" type="number" name="student[add_fund_amount]" id="student_add_fund_amount">
        </div>
      </div>
      <div class="field-unit">
        <div class="field-unit__label"><label>Notes</label></div>
        <div class="field-unit__field">
          <textarea required name="student[transaction_reason]" id="student_transaction_reason"></textarea>
        </div>
      </div>

  <%= form.submit "Add transaction", class: "button" %>
<% end %>
