<div class="grid grid-cols-[1fr_auto_auto] items-center gap-4">
    <div>
      <h3 class="font-medium">
          <%= position.stock_company_name %> (<%= position.stock_ticker %>)
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
          <%= position.total_shares %> shares
      </p>
    </div>
    <div class="text-right">
      <p class="font-medium">
        <%= number_to_currency(position.stock_current_price) %>
      </p>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Avg: <%= number_to_currency(position.avg_purchase_price_dollars) %>
      </p>
    </div>
    <div class="flex gap-2">
      <%= link_to "Buy", new_order_path(stock_id: position.stock_id, transaction_type: :buy), class: "inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3" %>

      <%= link_to "Sell", new_order_path(stock_id: position.stock_id, transaction_type: :sell), class: "inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3" %>
    </div>
</div>
