<!-- TODO: make price display with two decimal places -->
<div class="grid grid-cols-[1fr_auto_auto] items-center gap-4">
    <% stock = Stock.find_by_id(portfolio_stock.stock_id) %>
    <div>
        <h3 class="font-medium">
            <%= stock.company_name %> (<%= stock.ticker %>)
            <% if stock.archived? %>
              <span class="text-gray-400 text-sm font-medium">ARCHIVED</span>
            <% end %>
        </h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
            <%= portfolio_stock.shares %> shares
        </p>
    </div>
    <div class="text-right">
        <p class="font-medium">
            <!-- Current Price -->
            <!-- will be calculated from `stock.price` -->
            $120.00
        </p>
        <p class="text-sm text-gray-500 dark:text-gray-400">
            <!-- Purchased at price -->
            $ <%= portfolio_stock.purchase_price %>
        </p>
    </div>
    <div class="flex gap-2">
        <%= buy_button(stock.id, disabled: stock.archived?) %>
        <%= sell_button(stock.id) %>
    </div>
</div>
