<tr class="table-body-row">
  <td class="table-body-cell">
    <div class="flex items-center gap-4">
      <% logo_path = "stock_logos/#{stock.ticker}-logo.svg" %>
      <% if File.exist?("app/assets/images/#{logo_path}") %>
        <%= image_tag asset_path(logo_path),
                      class: "w-16 h-16 rounded-lg flex-shrink-0",
                      alt: "#{stock.ticker} logo",
                      loading: "lazy" %>
      <% end %>
      <div class="flex flex-col">
        <%= link_to stock.ticker, stock_path(stock), class: "font-semibold text-lg" %>
        <span class="text-gray-500 text-sm"><%= stock.company_name %></span>
      </div>
    </div>
  </td>
  <td class="table-body-cell table-body-cell-right">
    <span class="table-cell-content">
      <%= number_to_currency(stock.current_price) %>
    </span>
  </td>
  <%  if policy(stock).show_holdings? %>
    <td class="table-body-cell">
      <span class="table-cell-content">
        <%= @portfolio&.shares_owned(stock.id) || 0 %>
      </span>
    </td>
    <td class="table-body-cell table-body-cell-center" colspan="2">
      <% if policy(stock).show_trading_link? %>
        <%= link_to '<i class="fa-solid fa-angle-up"></i> Buy'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :buy), class: "tw-btn-buy -ml-1", style: "margin-right: 100px;", data: { turbo_frame: "modal_frame" } %>
        <%= link_to '<i class="fa-solid fa-angle-down"></i> Sell'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :sell), class: "tw-btn-sell -mr-1", data: { turbo_frame: "modal_frame" } %>
      <% end %>
    </td>
  <% end %>
</tr>
