<table class="table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2">Company (Exchange)</th>
      <th class="px-4 py-2">Last Price</th>
      <% if current_user.student? %>
        <th class="px-4 py-2">Your Holdings</th>
      <% end %>
      <th class="px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
  <% stocks.each do |stock| %>
    <tr>
      <td class="px-4 py-2">
        <%= link_to stock.ticker, stock_path(stock) %><br>
        <span class="text-gray-500">(<%= stock.company_name %>)</span>
        <% if stock.archived? %>
          <br><span class="text-gray-400 text-sm font-medium">ARCHIVED</span>
        <% end %>
      </td>
      <td class="px-4 py-2">
        <%= number_to_currency(stock.current_price) %>
      </td>
      <% if current_user.student? %>
      <td class="px-4 py-2">
        <%= current_user.portfolio.shares_owned(stock.id) %>
      </td>
        <td class="px-4 py-2">
            <% if stock.archived? %>
              <span class="tw-btn-buy opacity-50 cursor-not-allowed">
                <i class="fa-solid fa-angle-up"></i> Buy
              </span>
            <% else %>
              <%= link_to '<i class="fa-solid fa-angle-up"></i> Buy'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :buy), class: "tw-btn-buy", data: { turbo_frame: "modal_frame" } %>
            <% end %>
        </td>
        <td class="px-4 py-2">
          <%= link_to '<i class="fa-solid fa-angle-down"></i> Sell'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :sell), class: "tw-btn-sell", data: { turbo_frame: "modal_frame" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>