<h2 class="text-2xl font-semibold mb-4"><%= title %></h2>
<%= render "shared/table_container" do %>
  <thead>
    <tr class="table-header-row">
      <th class="table-header-cell table-header-cell-left">Company (Exchange)</th>
      <th class="table-header-cell table-header-cell-right">Last Price</th>
      <% if current_user.student? %>
        <th class="table-header-cell table-header-cell-left">Your Holdings</th>
        <th class="table-header-cell table-header-cell-center" colspan="2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if stocks.any? %>
      <% stocks.each do |stock| %>
        <%= render "stocks/index_row", stock: stock %>
      <% end %>
    <% else %>
      <tr class="table-body-row">
        <td class="table-empty-cell" colspan="<%= current_user.student? ? 5 : 2 %>">
          <p class="text-lg">No <%= title.downcase %> found</p>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
