<div class="w-full ps-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-2 pt-4">
    <h1 class="font-bold text-4xl">Trading Floor</h1>
    <% if current_user.student? %>
      <div class="bg-white box-border flex flex-col gap-2 items-start justify-start py-6 pl-6 pr-60 relative rounded-[24px] shadow-sm">
        <div class="absolute border border-black inset-0 pointer-events-none rounded-[24px]"></div>
        <div class="flex flex-col gap-1 items-start justify-start">
          <div class="flex h-6 items-center justify-start relative">
            <p class="font-normal text-[#333333] text-base leading-6">Earnings to Invest</p>
          </div>
          <div class="font-semibold text-black text-3xl leading-9 tracking-[-0.75px]">
            <p class="whitespace-pre"><%= number_to_currency(@portfolio.cash_balance) %></p>
          </div>
        </div>
        <%= image_tag "investment-funds.png", class: "w-32 h-32 flex-shrink-0 absolute bottom-0 right-6 transform translate-y-[-5%]", alt: "Investment Funds" %>
      </div>
    <% end %>

  </div>

  </div>

  <main class="flex-1 p-6">
    <%= render "shared/table_container" do %>
      <thead>
        <tr class="table-header-row">
          <th class="table-header-cell table-header-cell-left">
            Company (Exchange)
          </th>
          <th class="table-header-cell table-header-cell-right">
            Last Price
          </th>
          <% if current_user.student? %>
            <th class="table-header-cell table-header-cell-left">
              Your Holdings
            </th>
            <th class="table-header-cell table-header-cell-center" colspan="2">

            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @stocks.any? %>
          <% @stocks.each do |stock| %>
          
            <tr class="table-body-row">
              <td class="table-body-cell">
                <%= link_to stock.ticker, stock_path(stock) %><br>
                <span class="text-gray-500">(<%= stock.company_name %>)</span>
              </td>
              <td class="table-body-cell table-body-cell-right">
                <span class="table-cell-content">
                  <%= number_to_currency(stock.current_price) %>
                </span>
              </td>
              <% if current_user.student? %>
                <td class="table-body-cell">
                  <span class="table-cell-content">
                    <%= @portfolio&.shares_owned(stock.id) || 0 %>
                  </span>
                </td>
                <td class="table-body-cell table-body-cell-center" colspan="2">
                  <%= link_to '<i class="fa-solid fa-angle-up"></i> Buy'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :buy), class: "tw-btn-buy -ml-1", style: "margin-right: 100px;", data: { turbo_frame: "modal_frame" } %>
                  <%= link_to '<i class="fa-solid fa-angle-down"></i> Sell'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :sell), class: "tw-btn-sell -mr-1", data: { turbo_frame: "modal_frame" } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr class="table-body-row">
            <td class="table-empty-cell" colspan="<%== current_user.student? ? 5 : 2 %>">
              <p class="text-lg">No stocks found</p>
              <p class="mt-2">No stocks available for trading.</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </main>
</div>
<%= render "shared/modal" %>
