<div class="w-full px-6">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center pb-2 pt-4 gap-4">
    <h1 class="font-bold text-4xl">Trading Floor</h1>
    <% if policy(Stock).show_holdings? || (current_user.present? && current_user.student?) %>
      <div class="mt-4">
        <%= render 'shared/earnings_to_invest_card' %>
      </div>
    <% end %>
  </div>

  <main class="flex-1 py-6">
    <%= render "stocks/stocks_table", title: "Active Stocks", stocks: @stocks.active %>
    <%= render "stocks/stocks_table", title: "Archived Stocks", stocks: @stocks.archived %>
  </main>
</div>

<%= render "shared/modal" %>
