<div class="w-full ps-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-2 pt-4">
    <h1 class="font-bold text-4xl">Trading Floor</h1>
    <% if current_user.student? %>
      <h3 class="bg-green-500 bg-opacity-25 p-3 border-green-800">
        Earnings to Invest: <%= number_to_currency(@portfolio.cash_balance) %>
      </h3>
    <% end %>

  </div>

  </div>

  <main class="flex-1 p-6">
    <%= render "shared/table_container" do %>
      <thead>
        <tr class="table-header-row">
          <th class="table-header-cell table-header-cell-left">
            Company (Exchange)
          </th>
          <th class="table-header-cell table-header-cell-right">
            Last Price
          </th>
          <% if current_user.student? %>
            <th class="table-header-cell table-header-cell-left">
              Your Holdings
            </th>
            <th class="table-header-cell table-header-cell-center" colspan="2">
              Actions
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @stocks.any? %>
          <% @stocks.each do |stock| %>
          
            <tr class="table-body-row">
              <td class="table-body-cell">
                <%= link_to stock.ticker, stock_path(stock) %><br>
                <span class="text-gray-500">(<%= stock.company_name %>)</span>
              </td>
              <td class="table-body-cell table-body-cell-right">
                <span class="table-cell-content">
                  <%= number_to_currency(stock.current_price) %>
                </span>
              </td>
              <% if current_user.student? %>
                <td class="table-body-cell">
                  <span class="table-cell-content">
                    <%= @portfolio&.shares_owned(stock.id) || 0 %>
                  </span>
                </td>
                <td class="table-body-cell table-body-cell-center" colspan="2">
                  <%= link_to '<i class="fa-solid fa-angle-up"></i> Buy'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :buy), class: "tw-btn-buy -ml-1" %>
                  <%= link_to '<i class="fa-solid fa-angle-down"></i> Sell'.html_safe, new_order_path(stock_id: stock.id, transaction_type: :sell), class: "tw-btn-sell -mr-1" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr class="table-body-row">
            <td class="table-empty-cell" colspan="<%== current_user.student? ? 5 : 2 %>">
              <p class="text-lg">No stocks found</p>
              <p class="mt-2">No stocks available for trading.</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </main>
</div>
