<div class="w-full ps-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-2 pt-4">
    <h1 class="font-bold text-4xl">Trading Floor</h1>
  <% if policy(Stock).show_holdings? || (current_user.present? && current_user.student?) %>
      <%= render 'shared/earnings_to_invest_card',
        earnings_amount: @portfolio.cash_balance,
        show_invest_button: false
      %> 
    <% end %>

  </div>

  </div>

  <main class="flex-1 p-6">
    <%= render "stocks/stocks_table", title: "Active Stocks", stocks: @stocks.active %>
    <%= render "stocks/stocks_table", title: "Archived Stocks", stocks: @stocks.archived %>
  </main>
</div>
<%= render "shared/modal" %>
