<div class="flex flex-col h-full w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <header class="flex items-center justify-between px-6 py-4 border-b">
    <h1 class="text-2xl font-bold">Orders</h1>
    <%= link_to "New Order", new_order_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </header>

  <main class="flex-1 p-6">
    <div class="bg-white dark:bg-gray-950 rounded-lg shadow h-full">
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50 dark:bg-gray-800">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Stock</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Shares</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Cost</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% if @orders.any? %>
            <% @orders.each do |order| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <%= order.stock.company_name %>
                  </div>
                  <div class="text-sm text-gray-500">
                    <%= order.stock.ticker %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <%= order.shares %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium
                      <%= case order.status
                          when 'pending'
                            'bg-yellow-100 text-yellow-800'
                          when 'completed'
                            'bg-green-100 text-green-800'
                          when 'canceled'
                            'bg-red-100 text-red-800'
                          else
                            'bg-gray-100 text-gray-800'
                          end %>">
                      <%= order.status.capitalize %>
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <% if order.stock.price_cents && order.shares %>
                      $<%= sprintf("%.2f", order.purchase_cost / 100.0) %>
                    <% else %>
                      <span class="text-gray-400">Price unavailable</span>
                    <% end %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <div class="flex space-x-2">

                    <% if order.pending? %>
                      <%= link_to edit_order_path(order), class: "text-blue-600 hover:text-blue-800" do %>
                        <i class="fa fa-pencil fa-lg"></i>
                      <% end %>

                      <%= form_with url: cancel_order_path(order), method: :patch, data: { confirm: t("orders.cancel.confirm"), turbo_confirm: t("orders.cancel.confirm") } do %>
                        <button type="submit" class="text-red-600 hover:text-red-800">
                          <i class="fa fa-ban fa-lg"></i>
                        </button>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" class="px-6 py-4 text-center text-gray-500">
                <p class="text-lg">No orders found</p>
                <p class="mt-2">Create your first order to get started!</p>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
