<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<% end %>

<%= turbo_frame_tag @grade_book do  %>
  <div class="mt-8"
    <% unless @grade_book.completed? %>
      data-controller="autosave"
      data-autosave-interval-value="30000"
    <% end %>
  >
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-medium text-gray-900">Grade Book</h3>
      <div data-autosave-target="status" class="text-sm text-gray-500"></div>
    </div>

    <%= form_with model: [@classroom, @grade_book],
                  url: classroom_grade_book_path(@classroom, @grade_book),
                  method: :patch,
                  html: { data: { autosave_target: "form" } } do |f| %>

      <%= render partial: "table", locals: { grade_book: @grade_book } %>

      <br/>

      <div class="flex flex-col items-center">
        <%= render partial: "submit_button" %>
      </div>
    <% end %>

    <% if current_user.admin? %>
      <div class="flex flex-col items-center pt-4">
        <%= render partial: "finalize_button" %>
      </div>
    <% end %>
  </div>
<% end %>
