<div class="fixed z-50 flex" style="width: 200px; top: 65px; bottom: 0;">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto px-0 pt-4 pb-4" style="background-color: #00698c;">

    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-1 px-3">
        <li>
          <ul role="list" class="space-y-1">
            <li>
              <% is_active = request.path == root_path %>
              <%= link_to root_path, class: "flex items-center justify-start px-3 py-2 rounded-lg w-full group hover:bg-black/20 #{'bg-[#d3df44]' if is_active}", style: is_active ? "background-color: #d3df44;" : "" do %>
                <div class="flex gap-3 items-center">
                  <div class="w-6 h-6">
                    <%= image_tag "house.svg", class: "w-6 h-6", style: "filter: brightness(0) saturate(100%) #{is_active ? 'invert(20%) sepia(8%) saturate(348%) hue-rotate(114deg) brightness(98%) contrast(85%)' : 'invert(93%) sepia(13%) saturate(343%) hue-rotate(31deg) brightness(115%) contrast(90%)'};" %>
                  </div>
                  <span class="font-medium text-sm" style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">Home</span>
                </div>
              <% end %>
            </li>
            <% if current_user.portfolio && policy(current_user.portfolio).show? %>
              <li>
                <% is_active = request.path.include?('portfolios') %>
                <%= link_to user_portfolio_path(current_user, current_user.portfolio), class: "flex items-center justify-start px-3 py-2 rounded-lg w-full group hover:bg-black/20 #{'bg-[#d3df44]' if is_active}", style: is_active ? "background-color: #d3df44;" : "" do %>
                  <div class="flex gap-3 items-center">
                    <div class="w-6 h-6">
                      <%= image_tag "id-card.svg", class: "w-6 h-6", style: "filter: brightness(0) saturate(100%) #{is_active ? 'invert(20%) sepia(8%) saturate(348%) hue-rotate(114deg) brightness(98%) contrast(85%)' : 'invert(93%) sepia(13%) saturate(343%) hue-rotate(31deg) brightness(115%) contrast(90%)'};" %>
                    </div>
                    <span class="font-medium text-sm" style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">My Portfolio</span>
                  </div>
                <% end %>
              </li>
            <% end %>

              <li>
                <% is_active = request.path.include?('orders') %>
                <%= link_to orders_path, class: "flex items-center justify-start px-3 py-2 rounded-lg w-full group hover:bg-black/20", style: is_active ? "background-color: #d3df44;" : "" do %>
                  <div class="flex gap-3 items-center">
                    <div class="w-6 h-6">
                      <%= image_tag "receipt.svg", class: "w-6 h-6", style: "filter: brightness(0) saturate(100%) #{is_active ? 'invert(20%) sepia(8%) saturate(348%) hue-rotate(114deg) brightness(98%) contrast(85%)' : 'invert(100%)'}" %>
                    </div>
                    <span class="font-medium text-sm" style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">Transactions</span>
                  </div>
                <% end %>
              </li>

             <% if policy(Classroom).index? %>
              <li>
                <% is_active = (request.path.include?('classrooms') && !request.path.include?('admin')) %>
                <%= link_to classrooms_path, class: "flex items-center justify-start px-3 pr-3 py-2 rounded-lg w-full group hover:bg-black/20", style: is_active ? "background-color: #d3df44;" : "" do %>
                  <div class="flex gap-3 items-center">
                    <div class="w-6 h-6">
                      <svg class="w-6 h-6" style="color: <%= is_active ? '#323232' : 'white' %>;" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                      </svg>
                    </div>
                    <span class="font-medium text-sm" style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">Classes</span>
                  </div>
                <% end %>
              </li>
            <% end %>

            <li>
              <% is_active = request.path.include?('stocks') %>
              <%= link_to stocks_path, class: "flex items-center justify-between px-3 py-2 rounded-lg w-full group hover:bg-black/20", style: is_active ? "background-color: #d3df44;" : "" do %>
                <div class="flex gap-3 items-center">
                  <div class="w-6 h-6">
                    <%= image_tag "chart-no-axes-combined.svg", class: "w-6 h-6", style: "filter: brightness(0) saturate(100%) #{is_active ? 'invert(20%) sepia(8%) saturate(348%) hue-rotate(114deg) brightness(98%) contrast(85%)' : 'invert(100%)'}" %>
                  </div>
                  <span class="font-medium text-sm" style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">Trading Floor</span>
                </div>
                <div class="w-4 h-4 flex items-center justify-center">
                  <svg class="w-3 h-3" style="color: <%= is_active ? '#323232' : 'white' %>;" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                </div>
              <% end %>

              <div class="box-border content-stretch flex flex-col items-start justify-start p-[8px] relative w-full ml-6">
                <% navbar_stocks.each do |stock| %>
                  <div class="content-stretch flex items-center justify-start relative rounded-[16px] shrink-0 w-full">
                    <% stock_active = request.path == stock_path(stock) %>
                    <%= link_to stock_path(stock), class: "basis-0 box-border content-stretch flex gap-2 grow h-8 items-center justify-start min-h-px min-w-px p-[8px] relative rounded-[16px] shrink-0 hover:bg-black/20 hover:bg-black" do %>
                      <div class="basis-0 font-['Geist',sans-serif] font-normal grow leading-[0] min-h-px min-w-px overflow-ellipsis overflow-hidden relative shrink-0 text-[14px] text-nowrap text-white <%= 'underline decoration-2 underline-offset-2' if stock_active %>">
                        <p class="leading-none overflow-inherit"><%= stock.ticker %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>

          </ul>
        </li>
      </ul>
    </nav>

    <div class="flex flex-col items-center justify-start w-full mt-auto">
      <div class="h-px w-full" style="background-color: #004f6b;"></div>
      <div class="flex flex-col items-start justify-start w-full py-2">
       <% if policy(Classroom).new? %>
          <% is_active = request.path.include?('admin') %>
          <%= link_to admin_classrooms_path, class: "flex items-center gap-x-4 px-6 py-3 text-sm font-semibold hover:bg-black/20 hover:bg-black w-full", style: is_active ? "background-color: #d3df44;" : "" do %>
            <svg class="w-5 h-5" style="color: <%= is_active ? '#323232' : 'white' %>;" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a6.759 6.759 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <span style="color: <%= is_active ? '#323232' : 'white' %>; font-family: Inter, sans-serif;">Admin</span>
          <% end %>
        <% end %>

        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex items-center gap-x-4 px-6 py-3 text-sm font-semibold hover:bg-black/20 hover:bg-black w-full" do %>
          <svg class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
          </svg>
          <span class="text-white" style="font-family: Inter, sans-serif;">Logout</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
