<!DOCTYPE html>
<html>
  <head>
    <title>StocksInTheFuture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <nav class="navbar">
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="nav-mobile-menu-button-wrapper">
        <!-- Mobile menu button -->
        <button type="button" class="nav-mobile-button" aria-controls="mobile-menu" aria-expanded="false">
          <span class="nav-button-hit-area"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="nav-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="nav-icon hidden" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="nav-main">
        <div class="flex shrink-0 items-center">
          <%= image_tag "SITF-caponly-Logo.svg", class: "nav-logo", alt: "Stocks in The Future" %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a href="<%= classrooms_path %>" 
             class="nav-link <%= current_page?(classrooms_path) ? 'nav-link-active' : 'nav-link-inactive' %>">
            My Classes
          </a>
          <a href="<%= stocks_path %>" 
             class="nav-link <%= current_page?(stocks_path) ? 'nav-link-active' : 'nav-link-inactive' %>">
            Stocks
          </a>
          <a href="<%= portfolio_path(current_user.portfolio) %>"  
             class="nav-link <%= current_page?(portfolio_path(current_user.portfolio)) ? 'nav-link-active' : 'nav-link-inactive' %>">
            My Portfolio
          </a>
        </div>
      </div>
      <div class="nav-user-section">

        <div class="relative ml-3">
          <div class="flex space-x-4">
            <a href="#" class="nav-user-link" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="#" class="nav-user-link" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
            <% if current_user&.admin? %>
              <a href="<#= admin_root_path%>" class="nav-user-link" role="menuitem" tabindex="-1" id="user-menu-item-3">Admins</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
