<!DOCTYPE html>
<html>
  <head>
    <title>StocksInTheFuture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen w-screen overflow-hidden">
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <main class="ml-72 h-full overflow-auto p-6">
      <%= yield %>
    </main>
  </body>
</html>
