<!DOCTYPE html>
<html>
  <head>
    <title>StocksInTheFuture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render(NavComponent.new) %>
    <%= render(TickerListComponent.new(stocks: [{name: "Netflix", ticker: "NFLX", price: 115, change: 0.033}, {name: "Sony Corporation", ticker: "SNE", price: 58.99, change: -0.01}, {name: "Under Armour", ticker: "AU", price: 18.07, change: 0.79}, {name: "Ford", ticker: "F", price: 9.75, change: -0.03}])) %>
    <%= yield %>
    <%= render(FooterComponent.new) %>
  </body>
</html>
