<!DOCTYPE html>
<html>
  <head>
    <title>StocksInTheFuture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen w-screen inline-flex overflow-auto">
    <% if user_signed_in? %>
      <%= render 'layouts/navbar'%>
    <% end %>
    <div class="ml-72 overflow-auto p-6">
      <%= yield %>
    </div>
  </body>
</html>
